{% extends 'base.html' %} {% block title %}Home{% endblock title %} 
{% block body %}

<header class="outher-container" id="home">
  <div class="video-container">
    <video src="static/vid/v1.mp4" autoplay loop muted></video>
  </div>

  {% comment %}
  <div class="carousel-inner">
    {% endcomment %} {% comment %}
    <div class="carousel-item active">
      {% endcomment %}
      <div class="carousel-caption">
        <h5 class="animated fadeInDown" style="animation-delay: 2s">
          Welcome to Shyno Fitness
        </h5>
        <p class="animated fadeInUp" style="animation-delay: 3s">
          Get ready for a massive transformation.
        </p>
        <p class="animated fadeInUp" style="animation-delay: 4s">
          We believe that every youngster is a superstar.
        </p>
      </div>
      {% comment %}
    </div>
    {% endcomment %} {% comment %}
    <div class="carousel-item">
      {% endcomment %} {% comment %}
      <div class="carousel-caption">
        <h5 class="animated fadeInDown" style="animation-delay: 1s">
          Make your next move
        </h5>
        <p class="animated fadeInUp" style="animation-delay: 2s">
          No pain No gain! Push yourself to the next level.
        </p>
      </div>
      {% endcomment %} {% comment %}
    </div>
    {% endcomment %} {% comment %}
  </div>
  {% endcomment %}
</header>

<section id="services" class="sections" style="background-color: white">
  <div class="container" my-6>
    <h1 class="my-4 text-center py-2" id="ser_link">
      Our Services and Benifits
    </h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c1.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Fat Lose Program</h5>
            <p class="card-text">
              We help you lose extra body fat by providing a customized exercise
              plan.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c3.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Special Ladies Time</h5>
            <p class="card-text">
              We do care about ladies comfort so, we provide a separate time
              only for ladies.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c15.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Lady Trainer</h5>
            <p class="card-text">
              We provide lady trainer for ladies so that they feel free to do
              their exercises.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c9.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Unisex Gym Environment</h5>
            <p class="card-text">
              We aim to enhance your fitness and sculpt your body with friendly
              and unisex environment.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c7.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">High Quality Gym Equipments</h5>
            <p class="card-text">
              We believe in quality over quantity. Train your body with our high
              quality gym equipments.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c14.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Strength Training</h5>
            <p class="card-text">
              We provide profassional guidence to improve your strength training
              and body building workout.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c11.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Diet Plan</h5>
            <p class="card-text">
              A proper diet plan is equally importent as exercise. Our diet plan
              helps to achive your fitness goals.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c4.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Personal Trainer</h5>
            <p class="card-text">
              Everyone likes some special guidence. You can have your personal
              trainer for better guidence.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c5.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Pocket Friendly</h5>
            <p class="card-text">
              We know the value of money. We provide you a hight class gym
              facility at a pocket friendly fees.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c6.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Student Discounts</h5>
            <p class="card-text">
              It is our duty that our youngsters are stay healthy because they
              are the future. So, we give some great discounts for the students.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c13.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Body Massage</h5>
            <p class="card-text">
              A right body massage can reduce your stress and tiredness. We have
              professionals for body massage.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c8.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Hot Shower</h5>
            <p class="card-text">
              Keep your muscles relax and stress free by taking a hot shower. We
              provide hot shower facility at the gym.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c10.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Health Calculator</h5>
            <p class="card-text">
              Our health calculator helps you to check the nutrition and health
              reports with accuracy.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c2.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">CCTV Security</h5>
            <p class="card-text">
              Feel free to keep your stuff. Our digital eyes are on the service
              to monitor things.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img/c12.png" class="d-block w-100" alt="..." />
          <div class="card-body">
            <h5 class="card-text">Free WiFi</h5>
            <p class="card-text">
              Mobile networks are not stable all the time. We provide free WiFi
              to our members.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="sections" style="background-color: black">
  <div class="container marketing py-3">
    <h1 class="my-4 text-center" id="about_link" style="color: #ff0000">
      About shyno Fitness
    </h1>
    <p class="my-4 text-center" style="color: white">
      Shyno Fitness is a Multi-Gym, going to open on September 2022. The Founder of Shyno Fitness
      is Mr.Subir Bhakat and the Co-Founder is Mr.Goutam Bhakat. The Multi-Gym
      is located at Palsanda, Nabagram, Murshidabad, West Bengal, India, 742238.
      Landmark- near Palsanda bus stand. The Gym provides high-quality
      equipment, professional trainers as well as a personal trainer. There are
      separate time schedules only for ladies where only a lady trainer will be
      present. The Gym also provides personal Diet plans and exercise plans. We
      believe our youngsters are the future, it is our duty that they stay
      healthy and fit. The Gym gives some massive discounts to the students.
      Everyone has the right to be healthy and fit, in order to that we keep our
      fees at a very reasonable price. The Gym also provides CCTV Security, Hot
      Shower, and Massage facilities.
    </p>

    <!-- Three columns of text below the carousel -->
    <h3 class="my-4 text-center py-2" style="color: #ff0000">Owners</h3>

    <div class="row text-center text-md">
      <div class="col">
        <img
          src="static/img/subir.png"
          class="rounded-circle mb-2"
          width="140"
          height="140"
          focusable="false"
        />

        <h4 class="fw-normal" style="color: #ff0000">Mr. Subir Bhakat</h4>
        <p style="color: white">Founder</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col">
        <img
          src="static/img/unkwn.png"
          class="rounded-circle mb-2"
          width="140"
          height="140"
          focusable="false"
        />

        <h4 class="fw-normal" style="color: #ff0000">Mr. Goutam Bhakat</h4>
        <p style="color: white">Co-Founder</p>
      </div>
      <!-- /.col-lg-4 -->
    </div>

    <h3 class="my-4 text-center py-2" style="color: #ff0000">Our Team</h3>

    <div class="row text-center text-md">
      <div class="col">
        <img
          src="static/img/unkwn.png"
          class="rounded-circle mb-2"
          width="140"
          height="140"
          focusable="false"
        />

        <h4 class="fw-normal" style="color: #ff0000">Unknown</h4>
        <p style="color: white">Male Trainer</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col">
        <img
          src="static/img/unkwn.png"
          class="rounded-circle mb-2"
          width="140"
          height="140"
          focusable="false"
        />

        <h4 class="fw-normal" style="color: #ff0000">Unknown</h4>
        <p style="color: white">Female Trainer</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col">
        <img
          src="static/img/unkwn.png"
          class="rounded-circle mb-2"
          width="140"
          height="140"
          focusable="false"
        />

        <h4 class="fw-normal" style="color: #ff0000">Unknown</h4>
        <p style="color: white">Help Desk</p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
</section>

<section id="contact" class="sections pb-1" style="background-color: white">
  <div class="container" id="contact-inner">
    <h1 class="my-4 text-center py-3">Contact us</h1>
    <!--Section description-->

    <div class="row">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d752.3301878252173!2d88.14833382916807!3d24.185076222415557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x77d981a8f8bb77f3!2zMjTCsDExJzA2LjMiTiA4OMKwMDgnNTYuMCJF!5e1!3m2!1sen!2sin!4v1655544491184!5m2!1sen!2sin"
        width="100%"
        height="400"
        style="border: 2 gray"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>

      <div class="row text-center mt-4">
        <div class="col-md-4">
          <a class="btn-floating blue accent-1 waves-effect waves-light"
            ><i class="fas fa-map-marker-alt" style="color: #ff0000"></i
          ></a>
          <p>Palsanda, Nabagram, West Bengal, 742238</p>
        </div>

        <div class="col-md-4">
          <a class="btn-floating blue accent-1 waves-effect waves-light"
            ><i class="fas fa-phone" style="color: #ff0000"></i
          ></a>
          <p>+91 8945088754</p>
        </div>

        <div class="col-md-4">
          <a class="btn-floating blue accent-1 waves-effect waves-light"
            ><i class="fas fa-envelope" style="color: #ff0000"></i
          ></a>
          <p>care.shynofit@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }


  header {
      /* height: 88vh; */
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: all ease .3s;
      flex-direction: column;
  }

  .video-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  video {
      width: 100%;
      height: auto;
      /* padding-top: 68px; */
  }

  #carousel {
      z-index: 30;
      position: relative;
      top: -72vh;
      color: white;
      font-family: 'Mochiy Pop One', sans-serif;
  }

  .box {
      transition: all ease 3s;
  }

  .box1,
  .box2 {
      opacity: 0;
  }

  #inner_car {
      z-index: 10;
      position: absolute;
      top: 20vh;
      color: white;
  }

  .carousel-item {
      height: 100vh;
      width: 100vw;
      min-height: 300px;
  }

  .carousel-caption {
      position: relative;
      /* top: -50%; */
      left: 1%;
      z-index: 2;
  }

  .carousel-caption h5 {
      font-size: 45px;
      {
          % comment %
      }
      text-transform: uppercase;
      {
          % endcomment %
      }
      Letter-spacing: 1px;
      margin-top: 25px;
      color:white;
      text-align: center;
  }

  .carousel-caption p {
      width: 100%;
      margin: auto;
      font-size: 25px;
      line-height: 1.5;
      color: white;
  }

  {
      % comment %
  }

  .overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: rgba(0, 0, 0, 0.4); */
      z-index: 1;
  }

  {
      % endcomment %
  }


  #about {
      margin-top: 15px;
  }

  #contact {
      margin-bottom: 20px;
  }

  .card-body {
      text-align: center;
  }

  .row {
      text-align: center;
  }


  @media screen and (max-width:570px) {
      .carousel-caption h5 {
          font-size: 30px;
      }
      .carousel-caption p {
          font-size: 17px;
      }
  }

  @media screen and (max-width:374px) {
      .carousel-caption h5 {
          font-size: 25px;
      }
      .carousel-caption p {
          font-size: 12px;
      }
  }
</style>
<script>
  var header = document.getElementById("home");
  var videoContainer = document.getElementsByClassName("video-container");
  var video = document.getElementsByTagName("video");
  var videoHeight = video[0].clientHeight;
  var headerHeight = videoHeight + "px";
  header.style.height = headerHeight;
  videoContainer[0].style.height = headerHeight;


  contactInner=document.getElementById('contact-inner')
  contact=document.getElementById('contact')
  contactInnerHeight=contactInner.clientHeight
  contactHeight=contactInnerHeight+'px';
  contact.style.height=contactHeight

  window.addEventListener('load',() => {
    videoHeight = video[0].clientHeight;
    headerHeight = videoHeight + "px";
    header.style.height = headerHeight;
    videoContainer[0].style.height = headerHeight;

    contactInnerHeight=contactInner.clientHeight
    contactHeight=contactInnerHeight+'px';
    contact.style.height=contactHeight
  })

  window.addEventListener("resize", () => {
    videoHeight = video[0].clientHeight;
    headerHeight = videoHeight + "px";
    header.style.height = headerHeight;
    videoContainer[0].style.height = headerHeight;

    contactInnerHeight=contactInner.clientHeight
    contactHeight=contactInnerHeight+'px';
    contact.style.height=contactHeight
  });
</script>

{% endblock %}
